<%- include("header")%>
<link rel="stylesheet" href="./stylesheets/profile.css">
<div id="menu">
    <img width="70" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDbUWm12-dhm0igMPZtS6ZcqtlC12l6KzsKS8_hdkg3uIXpCb3Syl8LhQoCqrvr6Bvb2g&usqp=CAU" alt="">

<h4>We have a Many types of coffee </h4>
<h4>Know Your Coffee</h4>

<div id="images-cover">
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBXupCYNTAw7sA9-WFpkQSErKqNELraanp0UaEXX7kTk5RdMWnzM7LUkq4biy4J6RiVRE&usqp=CAU" alt="">
        <h3>Expresso Coffee</h3>
        <h3>500 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK2zGpbUXliV7H1-AH7tyLd45rnPDk6MLkzQ&usqp=CAU" alt="">
        <h3>Iced Coffee</h3>
        <h3>300 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5TyYfSY7bSGxbZ-L95HFZbY5_JqLDXt0giG9qwqEHFANBUcFVOTfZPj5khhYyRmNpkFA&usqp=CAU" alt="">
        <h3>American Coffee</h3>
        <h3>900 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQe6eHWPSwM42I935HUC4qGpzZlV4RsYv1_lqNLa_n_gm0_Dz3dgFpovyqThugN1os-mVw&usqp=CAU" alt="">
        <h3>Caremel Macchiato </h3>
        <h3>600 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0gpjGZUrv4LVxMXUxThavpEqq6Zqc__Z-g3bs5L_kfbclxtrvAvf1cBamJYIIKHcJV6M&usqp=CAU" alt="">
        <h3>Brew Coffee</h3>
        <h3>1000 Rs</h3>
    </div>
    
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWwktBhhDOZE8NKNEXfP3n1-2efVMD8WjDODjFuqXquPtHQsoU5YekZHszr1v9M7MhhYo&usqp=CAU" alt="">
        <h3>Mocha Coffee</h3>
        <h3>600 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVk64okfJ9a1rj-G_xyJ7yEQR6zDVu8G33tw&usqp=CAU" alt="">
        <h3>Coffee with Milk</h3>
        <h3>100 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSu928jEsHXpmS2t0QQfjq8kyjin_jTsdaEauFMW-OisXDcyXcYvUHEQmL4K8DIqSNb3Js&usqp=CAU" alt="">
        <h3>Coffee with Cream</h3>
        <h3>200 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPtF6J_GOIYBQtm9Rmy-vxm76WnWz0T0m35Q&usqp=CAU" alt="">
        <h3>Cappuccino</h3>
        <h3>800 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS60N83FLo2NXDoAKbPxpgVHNvAbQG9OpoljMk6plqFjWwgZ5d_yl93pUqZ3s6PAf_W0pk&usqp=CAU" alt="">
        <h3>Chocalate Coffee</h3>
        <h3>500 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr8oKpGjyo5yK5IbBLttjzxLj0_9ZqCLGbGtLC7QDALlTnGVViCJehP_aPbZ6Mw3WP9R8&usqp=CAU" alt="">
        <h3>Cold Coffee</h3>
        <h3>100 Rs</h3>
    </div>
    <div id="images">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEwePYf25oupVefcPGtyvB2qwcQhH3ZTb6xqBuidTn6AzTpz2d23_wCV6m3o47u2RJnHo&usqp=CAU" alt="">
        <h3>Latte Coffee</h3>
        <h3>900 Rs</h3>
    </div>
</div>
<hr> 
CLICK HERE --👉👉<button><a href="/order">ORDER NOW</a></button><br><button><a href="/signin">Back</a></button><button><a href="/signout">Logout</a></button>






</div>













<%- include("footer")%>